.113_57 { 
	overflow:hidden;
}.e113_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e113_58 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.113_58 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e113_59 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e113_60 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_61 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_62 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_63 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_64 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_65 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_66 { 
	width:976px;
	height:682px;
	position:absolute;
	left:225px;
	top:272px;
}.e113_67 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:671px;
	height:80px;
	position:absolute;
	left:73px;
	top:242px;
}.e113_68 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:57px;
}.e113_69 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:75px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_70 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:501px;
	top:57px;
}.e113_71 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:426px;
	height:45px;
	position:absolute;
	left:75px;
	top:149px;
}.e113_72 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:28px;
	position:absolute;
	left:500px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_73 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:75px;
	top:121px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_74 { 
	color:rgba(0, 0, 0, 1);
	width:286px;
	height:28px;
	position:absolute;
	left:74px;
	top:214px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_75 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:138px;
	height:45px;
	position:absolute;
	left:452px;
	top:615px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e113_76 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:483px;
	top:623px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_77 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:28px;
	position:absolute;
	left:73px;
	top:370px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_136 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:559px;
	top:370px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_137 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:369px;
	height:47px;
	position:absolute;
	left:73px;
	top:418px;
}.e113_143 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:28px;
	position:absolute;
	left:97px;
	top:427px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_138 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:369px;
	height:47px;
	position:absolute;
	left:559px;
	top:418px;
}.e113_144 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:28px;
	position:absolute;
	left:581px;
	top:427px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_140 { 
	transform: rotate(-117.8807400659293deg);
	background-color:rgba(0, 0, 0, 1);
	width:37px;
	height:39px;
	position:absolute;
	left:927.775390625px;
	top:446.70513916015625px;
}.e113_141 { 
	transform: rotate(-117.8807400659293deg);
	background-color:rgba(0, 0, 0, 1);
	width:37px;
	height:39px;
	position:absolute;
	left:927.775390625px;
	top:446.70513916015625px;
}.e113_139 { 
	transform: rotate(-117.8807400659293deg);
	background-color:rgba(0, 0, 0, 1);
	width:37px;
	height:39px;
	position:absolute;
	left:441.775390625px;
	top:446.70513916015625px;
}.e113_91 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:88px;
	position:absolute;
	left:582px;
	top:213px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e113_93 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:84px;
	position:absolute;
	left:489px;
	top:111px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}