.108_134 { 
	overflow:hidden;
}.e108_134 { 
	background-color:rgba(255, 255, 255, 1);
	width:405px;
	height:479px;
	position:absolute;
}.e108_137 { 
	width:438px;
	height:466px;
	position:absolute;
	left:-17px;
	top:0px;
}.e108_139 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:57px;
}.e108_140 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:75px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_141 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:148px;
}.e108_142 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:245px;
}.e108_143 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:28px;
	position:absolute;
	left:74px;
	top:120px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_144 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:75px;
	top:216px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_135 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:158px;
	height:41px;
	position:absolute;
	left:75px;
	top:366px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_136 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:28px;
	position:absolute;
	left:113px;
	top:372px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}