.113_94 { 
	overflow:hidden;
}.e113_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e113_95 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.113_95 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e113_97 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_98 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_99 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_100 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_101 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_102 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_115 { 
	width:1329px;
	height:646px;
	position:absolute;
	left:38px;
	top:306px;
}.e113_116 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:473px;
	height:47px;
	position:absolute;
	left:75px;
	top:387px;
}.e113_117 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:57px;
}.e113_118 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:75px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_119 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:167px;
}.e113_120 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:277px;
}.e113_121 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:28px;
	position:absolute;
	left:75px;
	top:139px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_122 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:74px;
	top:249px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_123 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:28px;
	position:absolute;
	left:74px;
	top:359px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_126 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:138px;
	height:45px;
	position:absolute;
	left:581px;
	top:601px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e113_127 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:612px;
	top:609px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e113_142 { 
	transform: rotate(-117.8807400659293deg);
	background-color:rgba(0, 0, 0, 1);
	width:37px;
	height:39px;
	position:absolute;
	left:538.775390625px;
	top:415.70513916015625px;
}.e113_145 { 
	width:713px;
	height:465px;
	position:absolute;
	left:616px;
	top:17px;
	background-image:url(images/blank_calendar_template_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e113_149 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:638px;
	top:131px;
}.e113_150 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:638px;
	top:131px;
}.e113_151 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:933px;
	top:356px;
}.e113_152 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:9px;
	position:absolute;
	left:829px;
	top:202px;
}.e113_147 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:28px;
	position:absolute;
	left:918px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.113_146 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e113_146 { 
	width:692px;
	height:0px;
	position:absolute;
	left:627px;
	top:17px;
}.e113_129 { 
	color:rgba(0, 0, 0, 1);
	width:365px;
	height:75px;
	position:absolute;
	left:559px;
	top:213px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e113_130 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:84px;
	position:absolute;
	left:489px;
	top:111px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e113_148 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:21px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}