.home-page {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 108px 0;
  width: 1440px;
}

.home-page .overlap-group6 {
  height: 44px;
  margin-right: 0;
  position: relative;
  width: 1441px;
}

.home-page .header-separator {
  height: 3px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 1441px;
}

.home-page .place {
  left: 673px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.home-page .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 3.0px;
  margin-top: 33px;
  min-width: 1301px;
}

.home-page .overlap-group5 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 74px;
  min-width: 164px;
  padding: 0 48px;
}

.home-page .place-1 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 65px;
}

.home-page .events-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 67px;
  min-width: 162px;
}

.home-page .overlap-group4 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 74px;
  justify-content: flex-end;
  min-width: 160px;
  padding: 0 44px;
}

.home-page .events {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 71px;
}

.home-page .x-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 65px;
  min-width: 162px;
}

.home-page .overlap-group3 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 74px;
  min-width: 160px;
}

.home-page .transportation {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 158px;
}

.home-page .overlap-group2 {
  height: 74px;
  position: relative;
  width: 160px;
}

.home-page .rectangle-4 {
  background-color: var(--mist-gray);
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 160px;
}

.home-page .home-care {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
}

.home-page .overlap-group1 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 74px;
  justify-content: flex-end;
  min-width: 160px;
  padding: 0 37px;
}

.home-page .classes {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 85px;
}

.home-page .overlap-group {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 74px;
  justify-content: flex-end;
  min-width: 160px;
  padding: 0 53px;
}

.home-page .jobs {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 53px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
