.108_2 { 
	overflow:hidden;
}.e108_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e108_24 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.108_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_25 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e108_28 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_31 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_32 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_33 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_29 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_30 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_34 { 
	width:720px;
	height:445px;
	position:absolute;
	left:0px;
	top:112px;
	background-image:url(images/community_centre_picture_id534118310_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e108_35 { 
	width:720px;
	height:467px;
	position:absolute;
	left:720px;
	top:557px;
	background-image:url(images/focused_236031988_stock_photo_man_microphone_speaking_group_community_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e108_36 { 
	color:rgba(0, 0, 0, 1);
	width:498px;
	height:179px;
	position:absolute;
	left:820px;
	top:233px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_37 { 
	width:720px;
	height:493px;
	position:absolute;
	left:0px;
	top:557px;
	background-image:url(images/group_happy_people_playing_cards_board_games_community_center_inclusivity_disabled_person_220653955_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e120_178 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:276px;
	height:38px;
	position:absolute;
	left:931px;
	top:422px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e120_179 { 
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:25px;
	position:absolute;
	left:973px;
	top:427px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}