.126_2 { 
	overflow:hidden;
}.e126_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1128px;
	height:723px;
	position:absolute;
}.e126_3 { 
	width:1060px;
	height:682px;
	position:absolute;
	left:28px;
	top:20px;
}.e126_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:57px;
}.e126_5 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:75px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_6 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:436px;
	height:44px;
	position:absolute;
	left:509px;
	top:57px;
}.e126_7 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:28px;
	position:absolute;
	left:509px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:436px;
	height:82px;
	position:absolute;
	left:509px;
	top:148px;
}.e126_9 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:28px;
	position:absolute;
	left:509px;
	top:120px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_10 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:436px;
	height:41px;
	position:absolute;
	left:509px;
	top:273px;
}.e126_11 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:436px;
	height:45px;
	position:absolute;
	left:509px;
	top:361px;
}.e126_12 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:28px;
	position:absolute;
	left:509px;
	top:333px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_13 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:28px;
	position:absolute;
	left:509px;
	top:245px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_14 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:148px;
}.e126_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:243px;
	height:44px;
	position:absolute;
	left:75px;
	top:245px;
}.e126_16 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:28px;
	position:absolute;
	left:74px;
	top:120px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_17 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:75px;
	top:216px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e126_18 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:265px;
	height:41px;
	position:absolute;
	left:398px;
	top:619px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e126_19 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:28px;
	position:absolute;
	left:436px;
	top:625px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}