.108_38 { 
	overflow:hidden;
}.e108_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e108_39 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.108_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_40 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e108_41 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_42 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_43 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_44 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_45 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_46 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:93px;
	top:148px;
}.115_2 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e115_3 { 
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:46px;
	position:absolute;
	left:175px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:67px;
	position:absolute;
	left:98px;
	top:243px;
}.115_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_5 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:46px;
	position:absolute;
	left:124px;
	top:255px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:67px;
	position:absolute;
	left:418px;
	top:782px;
}.115_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_17 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:44px;
	position:absolute;
	left:444px;
	top:796px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:69px;
	height:67px;
	position:absolute;
	left:583px;
	top:243px;
}.e115_9 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:45px;
	position:absolute;
	left:672px;
	top:260px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_10 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:46px;
	position:absolute;
	left:93px;
	top:378px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_19 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:44px;
	position:absolute;
	left:98px;
	top:796px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:67px;
	position:absolute;
	left:418px;
	top:869px;
}.115_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_21 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:46px;
	position:absolute;
	left:444px;
	top:881px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_23 { 
	color:rgba(0, 0, 0, 1);
	width:278px;
	height:46px;
	position:absolute;
	left:98px;
	top:881px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:517px;
	height:63px;
	position:absolute;
	left:325px;
	top:370px;
}.115_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_14 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:46px;
	position:absolute;
	left:93px;
	top:541px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:517px;
	height:52px;
	position:absolute;
	left:325px;
	top:535px;
}.115_15 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_12 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:45px;
	position:absolute;
	left:93px;
	top:460px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:517px;
	height:61px;
	position:absolute;
	left:325px;
	top:452px;
}.115_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_34 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:45px;
	position:absolute;
	left:98px;
	top:709px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:517px;
	height:53px;
	position:absolute;
	left:330px;
	top:701px;
}.115_35 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_36 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:44px;
	position:absolute;
	left:98px;
	top:627px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:517px;
	height:60px;
	position:absolute;
	left:330px;
	top:619px;
}.115_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_24 { 
	width:400.0601806640625px;
	height:213.01625061035156px;
	position:absolute;
	left:986.9397583007812px;
	top:180.0325927734375px;
}.e115_25 { 
	width:400.0601806640625px;
	height:213.01625061035156px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/blank_calendar_template_3_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e115_26 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:343.95074462890625px;
	top:123.22886657714844px;
}.e115_27 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:232.8541259765625px;
	top:85.20648193359375px;
}.e115_28 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:65.64801788330078px;
	top:85.20648193359375px;
}.e115_29 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:122.31853485107422px;
	top:117.73158264160156px;
}.e115_30 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:122.31853485107422px;
	top:85.20648193359375px;
}.e115_31 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:122.31853485107422px;
	top:52.68136978149414px;
}.e115_33 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:44.88753890991211px;
	height:7.787691593170166px;
	position:absolute;
	left:122.31853485107422px;
	top:158.9606170654297px;
}.e115_38 { 
	background-color:rgba(0, 0, 0, 1);
	width:41px;
	height:37px;
	position:absolute;
	left:465px;
	top:295px;
}.e115_114 { 
	background-color:rgba(0, 0, 0, 1);
	width:41px;
	height:37px;
	position:absolute;
	left:788px;
	top:918px;
}.e115_113 { 
	background-color:rgba(0, 0, 0, 1);
	width:41px;
	height:37px;
	position:absolute;
	left:785px;
	top:837px;
}