.e122_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e108_61 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.108_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_62 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e108_63 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_64 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_65 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_66 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_67 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_68 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e113_47 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:84px;
	position:absolute;
	left:577px;
	top:113px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e113_133 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:543px;
	height:266px;
	position:absolute;
	left:188px;
	top:440px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e113_134 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:543px;
	height:266px;
	position:absolute;
	left:803px;
	top:440px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e113_132 { 
	color:rgba(0, 0, 0, 1);
	width:521px;
	height:84px;
	position:absolute;
	left:199px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e113_7 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:75px;
	position:absolute;
	left:380px;
	top:453px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e113_8 { 
	color:rgba(0, 0, 0, 1);
	width:233px;
	height:75px;
	position:absolute;
	left:968px;
	top:453px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e113_131 { 
	color:rgba(0, 0, 0, 1);
	width:462px;
	height:42px;
	position:absolute;
	left:817px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}