.108_78 { 
	overflow:hidden;
}.e108_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e115_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:918px;
	height:203px;
	position:absolute;
	left:261px;
	top:262px;
}.115_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_51 { 
	color:rgba(0, 0, 0, 1);
	width:518px;
	height:140px;
	position:absolute;
	left:283px;
	top:325px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_79 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.108_79 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_80 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e108_81 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_82 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_83 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_84 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_85 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_86 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_40 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:28px;
	position:absolute;
	left:283px;
	top:271px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_52 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:28px;
	position:absolute;
	left:860px;
	top:293px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_53 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:273px;
	height:64px;
	position:absolute;
	left:860px;
	top:367px;
}.e115_54 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:896px;
	top:377px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_76 { 
	background-color:rgba(255, 255, 255, 1);
	width:918px;
	height:203px;
	position:absolute;
	left:261px;
	top:668px;
}.115_76 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_77 { 
	color:rgba(0, 0, 0, 1);
	width:518px;
	height:140px;
	position:absolute;
	left:283px;
	top:731px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_78 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:28px;
	position:absolute;
	left:283px;
	top:677px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_79 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:28px;
	position:absolute;
	left:860px;
	top:699px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_80 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:273px;
	height:64px;
	position:absolute;
	left:860px;
	top:773px;
}.e115_81 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:896px;
	top:783px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:918px;
	height:203px;
	position:absolute;
	left:261px;
	top:465px;
}.115_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e115_71 { 
	color:rgba(0, 0, 0, 1);
	width:371px;
	height:84px;
	position:absolute;
	left:283px;
	top:556px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e115_72 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:28px;
	position:absolute;
	left:283px;
	top:474px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_73 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:28px;
	position:absolute;
	left:860px;
	top:496px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_74 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:273px;
	height:64px;
	position:absolute;
	left:860px;
	top:570px;
}.e115_75 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:896px;
	top:580px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e115_55 { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:56px;
	position:absolute;
	left:65px;
	top:135px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}