.108_51 { 
	overflow:hidden;
}.e108_51 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e108_52 { 
	transform: rotate(0.0795774181539985deg);
	width:1440.0013427734375px;
	height:0px;
	position:absolute;
	left:0px;
	top:111px;
}.108_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_53 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:61px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e108_54 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:867px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_55 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:45px;
	position:absolute;
	left:1042px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_56 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:45px;
	position:absolute;
	left:1201px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_57 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:1318px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_58 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:731px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_59 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:45px;
	position:absolute;
	left:611px;
	top:48px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_119 { 
	width:713px;
	height:465px;
	position:absolute;
	left:27px;
	top:148px;
	background-image:url(images/blank_calendar_template_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e108_120 { 
	color:rgba(0, 0, 0, 1);
	width:637px;
	height:31px;
	position:absolute;
	left:65px;
	top:154px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e108_121 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:144px;
	top:323px;
}.e108_122 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:144px;
	top:265px;
}.e108_123 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:245px;
	top:413px;
}.e108_124 { 
	background-color:rgba(124.44089815020561, 155.33751904964447, 109.9013203382492, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:442px;
	top:481px;
}.e108_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:629px;
	height:778px;
	position:absolute;
	left:770px;
	top:166px;
}.108_125 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_126 { 
	color:rgba(0, 0, 0, 1);
	width:295px;
	height:44px;
	position:absolute;
	left:789px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_127 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:314px;
	position:absolute;
	left:798px;
	top:241px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_128 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:158px;
	height:41px;
	position:absolute;
	left:819px;
	top:652px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_129 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:158px;
	height:41px;
	position:absolute;
	left:1160px;
	top:652px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_130 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:28px;
	position:absolute;
	left:857px;
	top:658px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_132 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:308px;
	height:80px;
	position:absolute;
	left:229px;
	top:769px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e108_133 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:28px;
	position:absolute;
	left:278px;
	top:795px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e108_131 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:28px;
	position:absolute;
	left:1189px;
	top:658px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}